body{
  width: 100%;
  height: 100vh;
  color: white;
  font-family: Tahoma;
  font-size: 13px;
  background-color: rgba(0, 0, 255, 0.4)
}
h1, p{
  text-align: center;
  margin:0;
}
#title{
  margin-top: 20px;
  font-size: 20px;
}
.sp{
  font-size: 9px;
}

#description{
margin-bottom: 10px;
  font-style: italic;
}
#survey-form{
  width: 50%;
  max-width: 1000px;
  min-width: 300px;
  height: 550px;
background-color: rgba(0, 0, 0, 0.7);
margin: auto;
padding: 10px 20px 20px 20px;
}
#name-label, #email-label, #number-label{
display: block;
 width: 100%;
 height: ;
 margin-bottom: 5px;
}
#name, #email, #number{
  display: block;
  width: 100%;
  border-radius: 3px;
}
#dropdown{
  width: 100%;
  color: black;
line-height: 2rem;

border-radius: 3px;
}
div{
  margin-top: 10px;
border: none;
}
input{
  margin: 0px;
  margin-bottom: 5px;
}
label{
  display: block;
  width: 100%;
}
textarea{
  width: 100%;
  height: 60px;
  border: 0.5px;
  margin: 5px 0 20px 0;
}
#submit{
  width: 100%;
  text-align: center;
  border-radius: 0px;
  height: 1.5rem;
  border: none;
background-color: #098f4f;
margin: 3px 0 0 0;
}
